//imports necesarios para generar estilos custom
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$theme-colors: map-remove($theme-colors, "info", "light", "dark");

// colores custom del proyecto
$custom-colors: ( 
    "colorPaleta1":       #FFC300,
    "colorPaleta2":       #519cc2,
    "colorPaleta3":       #127CB3
);

// Mezcla de colores con los temas
$theme-colors: map-merge($theme-colors, $custom-colors);

//Espaciadores custom
$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 6,
  8: $spacer * 9,
  9: $spacer * 12,
  10: $spacer *14
);

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$h7-font-size: $font-size-base * 0.85;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7:$h7-font-size
);
//Estilos navbar
$navbar-light-color:#127CB3;
$navbar-light-icon-color:#127CB3;
$navbar-light-toggler-icon-bg:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color:#127CB3;
//Estilos radio Buttons
$form-check-input-checked-color:#FFC300;
$form-check-input-checked-border-color:   #0DADFF;
$form-check-input-checked-bg-color:       #0DADFF;
$form-check-radio-checked-bg-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>");

@import "../../node_modules/bootstrap/scss/bootstrap";
